@using MockableDateTime
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Current Time: @DateTime.Today.ToLongDateString() @DateTime.Now.ToLongTimeString()</h2>
    <h2>System Time: @SystemTime.Today.ToLongDateString() @SystemTime.Now.ToLongTimeString()</h2>
</div>